<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>gulp-scss-starter</title>
	//= includes/head.html
</head>
<body>
	<section class="handbook">
		<div class="container">
			<div class="breadcrumbs">
				<a href="#" class="breadcrumbs__link">
					Главная
				</a>
				<span class="breadcrumbs__decor">
					>
				</span>
				<span class="breadcrumbs__link breadcrumbs__link--static">
					Энциклопедия
				</span>
			</div>
		</div>

		<!-- Первая страница - оглавление -->
		<div class="container">
			<h2 class="handbook__title">
				Энциклопедия
			</h2>
			<div class="handbook__articles">
				<a href="" class="handbook__article h-article h-article--3">
					<div class="h-article__thumb h-article__thumb--3">
						<img src="img/clock-1.jpg" alt="Анатомия часов">
					</div>
					<p class="h-article__title">
						Анатомия часов
					</p>
				</a>
				<a href="" class="handbook__article h-article h-article--3">
					<div class="h-article__thumb h-article__thumb--3">
						<img src="img/clock-2.jpg" alt="Материалы">
					</div>
					<p class="h-article__title">
						Материалы
					</p>
				</a>
				<a href="" class="handbook__article h-article h-article--3">
					<div class="h-article__thumb h-article__thumb--3">
						<img src="img/clock-3.jpg" alt="Механизмы">
					</div>
					<p class="h-article__title">
						Механизмы
					</p>
				</a>
				<a href="" class="handbook__article h-article h-article--3">
					<div class="h-article__thumb h-article__thumb--3">
						<img src="img/clock-4.jpg" alt="Усложнения">
					</div>
					<p class="h-article__title">
						Усложнения
					</p>
				</a>
				<a href="" class="handbook__article h-article h-article--3">
					<div class="h-article__thumb h-article__thumb--3">
						<img src="img/clock-5.jpg" alt="Водонепроницаемость">
					</div>
					<p class="h-article__title">
						Водонепроницаемость
					</p>
				</a>
				<a href="" class="handbook__article h-article h-article--3">
					<div class="h-article__thumb h-article__thumb--3">
						<img src="img/clock-6.jpg" alt="Уход за часами">
					</div>
					<p class="h-article__title">
						Уход за часами
					</p>
				</a>
				<a href="" class="handbook__article h-article h-article--3">
					<div class="h-article__thumb h-article__thumb--3">
						<img src="img/clock-7.jpg" alt="Как выбирать часы">
					</div>
					<p class="h-article__title">
						Как выбирать часы
					</p>
				</a>
				<a href="" class="handbook__article h-article h-article--3">
					<div class="h-article__thumb h-article__thumb--3">
						<img src="img/clock-8.jpg" alt="Глоссарий">
					</div>
					<p class="h-article__title">
						Глоссарий
					</p>
				</a>
				<div class="h-article--3-clear"></div>
			</div>
		</div>

		<!-- Вторая страница - Анатомия часов -->
		<div class="container">
			<div class="handbook__layout">
				<div class="handbook__sidebar">
					<div class="h-sidebar">
						<p class="h-sidebar__title">
							Энциклопедия
						</p>
						<div class="h-sidebar__content">
							<a href="#" class="h-sidebar__link h-sidebar__link--active">
								Анатомия часов
							</a>
							<a href="#" class="h-sidebar__link">
								Материалы
							</a>
							<a href="#" class="h-sidebar__link">
								Механизмы
							</a>
							<a href="#" class="h-sidebar__link">
								Усложнения
							</a>
							<a href="#" class="h-sidebar__link">
								Водонепроницаемость
							</a>
							<a href="#" class="h-sidebar__link">
								Уход за часами
							</a>
							<a href="#" class="h-sidebar__link">
								Как выбирать часы
							</a>
							<a href="#" class="h-sidebar__link">
								Глоссарий
							</a>
						</div>
					</div>
				</div>
				<div class="handbook__content">
					<h2 class="handbook__title">
						Анатомия часов
					</h2>
					<div class="handbook__articles">
						<div class="handbook__article h-article h-article--side-3">
							<div class="h-article__thumb">
								<img src="img/anatomy-1.png" alt="Ремешок">
							</div>
							<p class="h-article__title">
								Ремешок
							</p>
							<p class="h-article__discript">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem dolores magnam amet veniam vel voluptatibus explicabo ullam ipsa accusantium doloremque ea eaque praesentium
							</p>
						</div>
						<div class="handbook__article h-article h-article--side-3">
							<div class="h-article__thumb">
								<img src="img/anatomy-2.png" alt="Ремешок">
							</div>
							<p class="h-article__title">
								Ремешок
							</p>
							<p class="h-article__discript">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem dolores magnam amet veniam vel voluptatibus explicabo ullam ipsa accusantium doloremque ea eaque praesentium
							</p>
						</div>
						<div class="handbook__article h-article h-article--side-3">
							<div class="h-article__thumb">
								<img src="img/anatomy-3.png" alt="Ремешок">
							</div>
							<p class="h-article__title">
								Ремешок
							</p>
							<p class="h-article__discript">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem dolores magnam amet veniam vel voluptatibus explicabo ullam ipsa accusantium doloremque ea eaque praesentium
							</p>
						</div>
						<div class="handbook__article h-article h-article--side-3">
							<div class="h-article__thumb">
								<img src="img/anatomy-4.png" alt="Ремешок">
							</div>
							<p class="h-article__title">
								Ремешок
							</p>
							<p class="h-article__discript">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem dolores magnam amet veniam vel voluptatibus explicabo ullam ipsa accusantium doloremque ea eaque praesentium
							</p>
						</div>
						<div class="handbook__article h-article h-article--side-3">
							<div class="h-article__thumb">
								<img src="img/anatomy-5.png" alt="Ремешок">
							</div>
							<p class="h-article__title">
								Ремешок
							</p>
							<p class="h-article__discript">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem dolores magnam amet veniam vel voluptatibus explicabo ullam ipsa accusantium doloremque ea eaque praesentium
							</p>
						</div>
						<div class="handbook__article h-article h-article--side-3">
							<div class="h-article__thumb">
								<img src="img/anatomy-6.png" alt="Ремешок">
							</div>
							<p class="h-article__title">
								Ремешок
							</p>
							<p class="h-article__discript">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem dolores magnam amet veniam vel voluptatibus explicabo ullam ipsa accusantium doloremque ea eaque praesentium
							</p>
						</div>
						<div class="handbook__article h-article h-article--side-3">
							<div class="h-article__thumb">
								<img src="img/anatomy-7.png" alt="Ремешок">
							</div>
							<p class="h-article__title">
								Ремешок
							</p>
							<p class="h-article__discript">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem dolores magnam amet veniam vel voluptatibus explicabo ullam ipsa accusantium doloremque ea eaque praesentium
							</p>
						</div>
						<div class="handbook__article h-article h-article--side-3">
							<div class="h-article__thumb">
								<img src="img/anatomy-8.png" alt="Ремешок">
							</div>
							<p class="h-article__title">
								Ремешок
							</p>
							<p class="h-article__discript">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem dolores magnam amet veniam vel voluptatibus explicabo ullam ipsa accusantium doloremque ea eaque praesentium
							</p>
						</div>
						<div class="handbook__article h-article h-article--side-3">
							<div class="h-article__thumb">
								<img src="img/anatomy-9.png" alt="Ремешок">
							</div>
							<p class="h-article__title">
								Ремешок
							</p>
							<p class="h-article__discript">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem dolores magnam amet veniam vel voluptatibus explicabo ullam ipsa accusantium doloremque ea eaque praesentium
							</p>
						</div>
						<div class="handbook__article h-article h-article--side-3">
							<div class="h-article__thumb">
								<img src="img/anatomy-10.png" alt="Ремешок">
							</div>
							<p class="h-article__title">
								Ремешок
							</p>
							<p class="h-article__discript">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem dolores magnam amet veniam vel voluptatibus explicabo ullam ipsa accusantium doloremque ea eaque praesentium
							</p>
						</div>
						<div class="handbook__article h-article h-article--side-3">
							<div class="h-article__thumb">
								<img src="img/anatomy-11.png" alt="Ремешок">
							</div>
							<p class="h-article__title">
								Ремешок
							</p>
							<p class="h-article__discript">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem dolores magnam amet veniam vel voluptatibus explicabo ullam ipsa accusantium doloremque ea eaque praesentium
							</p>
						</div>
						<div class="handbook__article h-article h-article--side-3">
							<div class="h-article__thumb">
								<img src="img/anatomy-12.png" alt="Ремешок">
							</div>
							<p class="h-article__title">
								Ремешок
							</p>
							<p class="h-article__discript">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem dolores magnam amet veniam vel voluptatibus explicabo ullam ipsa accusantium doloremque ea eaque praesentium
							</p>
						</div>
						<div class="handbook__article h-article h-article--side-3 h-article--side-3-clear">

						</div>
					</div>
					<div class="handbook__types h-types">
						<p class="h-types__h1">
							Виды корпуса
						</p>
						<div class="h-types__content">
							<article class="h-types__article">
								<div class="h-types__thumb">
									<img src="img/body-1.png" alt="">
								</div>
								<p class="h-types__title">
									Круг
								</p>
							</article>
							<article class="h-types__article">
								<div class="h-types__thumb">
									<img src="img/body-2.png" alt="">
								</div>
								<p class="h-types__title">
									Прямоугольник
								</p>
							</article>
							<article class="h-types__article">
								<div class="h-types__thumb">
									<img src="img/body-3.png" alt="">
								</div>
								<p class="h-types__title">
									Планка
								</p>
							</article>
							<article class="h-types__article">
								<div class="h-types__thumb">
									<img src="img/body-4.png" alt="">
								</div>
								<p class="h-types__title">
									Квадрат
								</p>
							</article>
							<article class="h-types__article">
								<div class="h-types__thumb">
									<img src="img/body-5.png" alt="">
								</div>
								<p class="h-types__title">
									Овал
								</p>
							</article>
							<article class="h-types__article">
								<div class="h-types__thumb">
									<img src="img/body-6.png" alt="">
								</div>
								<p class="h-types__title">
									Механизм
								</p>
							</article>
							<article class="h-types__article">
								<div class="h-types__thumb">
									<img src="img/body-7.png" alt="">
								</div>
								<p class="h-types__title">
									Овал
								</p>
							</article>
							<article class="h-types__article">
								<div class="h-types__thumb">
									<img src="img/body-8.png" alt="">
								</div>
								<p class="h-types__title">
									Квадрат
								</p>
							</article>
							<article class="h-types__article">
								<div class="h-types__thumb">
									<img src="img/body-9.png" alt="">
								</div>
								<p class="h-types__title">
									Ассиметричный
								</p>
							</article>
						</div>
					</div>
					<div class="handbook__types h-types">
						<p class="h-types__h1">
							Виды циферблатов
						</p>
						<div class="h-types__content">
							<article class="h-types__article">
								<div class="h-types__thumb">
									<img src="img/body-1.png" alt="">
								</div>
								<p class="h-types__title">
									Круг
								</p>
								<p class="h-types__discript">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis consectetur, quidem eos itaque distinctio ex!
								</p>
							</article>
							<article class="h-types__article">
								<div class="h-types__thumb">
									<img src="img/body-2.png" alt="">
								</div>
								<p class="h-types__title">
									Прямоугольник
								</p>
								<p class="h-types__discript">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis consectetur, quidem eos itaque distinctio ex!
								</p>
							</article>
							<article class="h-types__article">
								<div class="h-types__thumb">
									<img src="img/body-3.png" alt="">
								</div>
								<p class="h-types__title">
									Планка
								</p>
								<p class="h-types__discript">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis consectetur, quidem eos itaque distinctio ex!
								</p>
							</article>
							<article class="h-types__article">
								<div class="h-types__thumb">
									<img src="img/body-4.png" alt="">
								</div>
								<p class="h-types__title">
									Квадрат
								</p>
								<p class="h-types__discript">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis consectetur, quidem eos itaque distinctio ex!
								</p>
							</article>
							<article class="h-types__article">
								<div class="h-types__thumb">
									<img src="img/body-5.png" alt="">
								</div>
								<p class="h-types__title">
									Овал
								</p>
								<p class="h-types__discript">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis consectetur, quidem eos itaque distinctio ex!
								</p>
							</article>
							<article class="h-types__article">
								<div class="h-types__thumb">
									<img src="img/body-6.png" alt="">
								</div>
								<p class="h-types__title">
									Механизм
								</p>
								<p class="h-types__discript">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis consectetur, quidem eos itaque distinctio ex!
								</p>
							</article>
							<div class="h-types__article--clear"></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Третья страница - Материалы -->
		<div class="container">
			<div class="handbook__layout">
				<div class="handbook__sidebar">
					<div class="h-sidebar">
						<p class="h-sidebar__title">
							Энциклопедия
						</p>
						<div class="h-sidebar__content">
							<a href="#" class="h-sidebar__link">
								Анатомия часов
							</a>
							<a href="#" class="h-sidebar__link h-sidebar__link--active">
								Материалы
							</a>
							<a href="#" class="h-sidebar__link">
								Механизмы
							</a>
							<a href="#" class="h-sidebar__link">
								Усложнения
							</a>
							<a href="#" class="h-sidebar__link">
								Водонепроницаемость
							</a>
							<a href="#" class="h-sidebar__link">
								Уход за часами
							</a>
							<a href="#" class="h-sidebar__link">
								Как выбирать часы
							</a>
							<a href="#" class="h-sidebar__link">
								Глоссарий
							</a>
						</div>
					</div>
				</div>
				<div class="handbook__content">
					<h2 class="handbook__title">
						Материалы
					</h2>
					<div class="handbook__types h-types">
						<div class="h-types__content">
							<article class="h-types__article">
								<div class="h-types__thumb">
									<img src="img/mat-1.jpg" alt="">
								</div>
								<p class="h-types__title">
									Сталь
								</p>
								<p class="h-types__discript">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo maxime erendis iure sed unde mollitia cupiditate.
								</p>
							</article>
							<article class="h-types__article">
								<div class="h-types__thumb">
									<img src="img/mat-2.jpg" alt="">
								</div>
								<p class="h-types__title">
									Титан
								</p>
								<p class="h-types__discript">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, earum iure amet!
								</p>
							</article>
							<article class="h-types__article">
								<div class="h-types__thumb">
									<img src="img/mat-3.jpg" alt="">
								</div>
								<p class="h-types__title">
									Золото
								</p>
								<p class="h-types__discript">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio inventore eenim velit, iste!
								</p>
							</article>
							<article class="h-types__article">
								<div class="h-types__thumb">
									<img src="img/mat-4.jpg" alt="">
								</div>
								<p class="h-types__title">
									Керамика
								</p>
								<p class="h-types__discript">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque accusamnam! Obcaecati, fuga, animi.
								</p>
							</article>
							<article class="h-types__article">
								<div class="h-types__thumb">
									<img src="img/mat-5.jpg" alt="">
								</div>
								<p class="h-types__title">
									Пластмасса
								</p>
								<p class="h-types__discript">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur quas. Dolores est molestiae eum, vitae?
								</p>
							</article>
							<article class="h-types__article">
								<div class="h-types__thumb">
									<img src="img/mat-6.jpg" alt="">
								</div>
								<p class="h-types__title">
									Стекло
								</p>
								<p class="h-types__discript">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates animi dma hic unde, veritatis.
								</p>
							</article>
							<article class="h-types__article">
								<div class="h-types__thumb">
									<img src="img/mat-7.jpg" alt="">
								</div>
								<p class="h-types__title">
									Силикон
								</p>
								<p class="h-types__discript">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus quod cumque,  tempora a voluptate cum.
								</p>
							</article>
							<article class="h-types__article">
								<div class="h-types__thumb">
									<img src="img/mat-8.jpg" alt="">
								</div>
								<p class="h-types__title">
									Карбон
								</p>
								<p class="h-types__discript">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic voluptates porro  Repellendus.
								</p>
							</article>
							<div class="h-types__article--clear"></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Четвертая страница - Механизмы -->
		<div class="container">
			<div class="handbook__layout">
				<div class="handbook__sidebar">
					<div class="h-sidebar">
						<p class="h-sidebar__title">
							Энциклопедия
						</p>
						<div class="h-sidebar__content">
							<a href="#" class="h-sidebar__link">
								Анатомия часов
							</a>
							<a href="#" class="h-sidebar__link">
								Материалы
							</a>
							<a href="#" class="h-sidebar__link h-sidebar__link--active">
								Механизмы
							</a>
							<a href="#" class="h-sidebar__link">
								Усложнения
							</a>
							<a href="#" class="h-sidebar__link">
								Водонепроницаемость
							</a>
							<a href="#" class="h-sidebar__link">
								Уход за часами
							</a>
							<a href="#" class="h-sidebar__link">
								Как выбирать часы
							</a>
							<a href="#" class="h-sidebar__link">
								Глоссарий
							</a>
						</div>
					</div>
				</div>
				<div class="handbook__content">
					<h2 class="handbook__title">
						Механизмы
					</h2>
					<div class="handbook__post h-post">
						<div class="h-post__block">
							<p class="h-post__title">
								Ручной
							</p>
							<div class="h-post__ill">
								<img src="img/post-1.jpg" alt="">
							</div>
							<p class="h-post__subtitle">
								Заголовок
							</p>
							<ul class="h-post__ul">
								<li>
									<span>Описание пункта списка</span>
								</li>
								<li>
									<span>Описание пункта списка</span>
								</li>
								<li>
									<span>Описание пункта списка</span>
								</li>
								<li>
									<span>Описание пункта списка</span>
								</li>
								<li>
									<span>Описание пункта списка</span>
								</li>
								<li>
									<span>Описание пункта списка</span>
								</li>
								<li>
									<span>Описание пункта списка</span>
								</li>
							</ul>
							<p class="h-post__subtitle">
								Заголовок
							</p>
							<p class="h-post__p">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam assumenda est quibusdam nobis, cumque tempora maxime, blanditiis quis iste similique, perspiciatis id asperiores eius aliquid quo vitae eligendi doloribus adipisci!
							</p>
							<p class="h-post__subtitle">
								Заголовок
							</p>
							<p class="h-post__p">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam assumenda est quibusdam nobis, cumque tempora maxime, blanditiis quis iste similique, perspiciatis id asperiores eius aliquid quo vitae eligendi doloribus adipisci!
							</p>
							<p class="h-post__subtitle">
								Заголовок
							</p>
							<p class="h-post__p">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam assumenda est quibusdam nobis, cumque tempora maxime, blanditiis quis iste similique, perspiciatis id asperiores eius aliquid quo vitae eligendi doloribus adipisci!
							</p>
							<p class="h-post__subtitle">
								Заголовок
							</p>
							<p class="h-post__p">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam assumenda est quibusdam nobis, cumque tempora maxime, blanditiis quis iste similique, perspiciatis id asperiores eius aliquid quo vitae eligendi doloribus adipisci!
							</p>
						</div>
						<div class="h-post__block">
							<p class="h-post__title">
								Автоматический
							</p>
							<div class="h-post__ill">
								<img src="img/post-2.jpg" alt="">
							</div>
							<p class="h-post__subtitle">
								Заголовок
							</p>
							<ul class="h-post__ul">
								<li>
									<span>Описание пункта списка</span>
								</li>
								<li>
									<span>Описание пункта списка</span>
								</li>
								<li>
									<span>Описание пункта списка</span>
								</li>
								<li>
									<span>Описание пункта списка</span>
								</li>
								<li>
									<span>Описание пункта списка</span>
								</li>
								<li>
									<span>Описание пункта списка</span>
								</li>
								<li>
									<span>Описание пункта списка</span>
								</li>
							</ul>
							<p class="h-post__subtitle">
								Заголовок
							</p>
							<p class="h-post__p">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam assumenda est quibusdam nobis, cumque tempora maxime, blanditiis quis iste similique, perspiciatis id asperiores eius aliquid quo vitae eligendi doloribus adipisci!
							</p>
							<p class="h-post__subtitle">
								Заголовок
							</p>
							<p class="h-post__p">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam assumenda est quibusdam nobis, cumque tempora maxime, blanditiis quis iste similique, perspiciatis id asperiores eius aliquid quo vitae eligendi doloribus adipisci!
							</p>
							<p class="h-post__subtitle">
								Заголовок
							</p>
							<p class="h-post__p">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam assumenda est quibusdam nobis, cumque tempora maxime, blanditiis quis iste similique, perspiciatis id asperiores eius aliquid quo vitae eligendi doloribus adipisci!
							</p>
							<p class="h-post__subtitle">
								Заголовок
							</p>
							<p class="h-post__p">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam assumenda est quibusdam nobis, cumque tempora maxime, blanditiis quis iste similique, perspiciatis id asperiores eius aliquid quo vitae eligendi doloribus adipisci!
							</p>
						</div>
						<div class="h-post__block">
							<p class="h-post__title">
								Кварцевый
							</p>
							<div class="h-post__ill">
								<img src="img/post-3.jpg" alt="">
							</div>
							<p class="h-post__subtitle">
								Заголовок
							</p>
							<ul class="h-post__ul">
								<li>
									<span>Описание пункта списка</span>
								</li>
								<li>
									<span>Описание пункта списка</span>
								</li>
								<li>
									<span>Описание пункта списка</span>
								</li>
								<li>
									<span>Описание пункта списка</span>
								</li>
								<li>
									<span>Описание пункта списка</span>
								</li>
								<li>
									<span>Описание пункта списка</span>
								</li>
								<li>
									<span>Описание пункта списка</span>
								</li>
							</ul>
							<p class="h-post__subtitle">
								Заголовок
							</p>
							<p class="h-post__p">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam assumenda est quibusdam nobis, cumque tempora maxime, blanditiis quis iste similique, perspiciatis id asperiores eius aliquid quo vitae eligendi doloribus adipisci!
							</p>
							<p class="h-post__subtitle">
								Заголовок
							</p>
							<p class="h-post__p">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam assumenda est quibusdam nobis, cumque tempora maxime, blanditiis quis iste similique, perspiciatis id asperiores eius aliquid quo vitae eligendi doloribus adipisci!
							</p>
							<p class="h-post__subtitle">
								Заголовок
							</p>
							<p class="h-post__p">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam assumenda est quibusdam nobis, cumque tempora maxime, blanditiis quis iste similique, perspiciatis id asperiores eius aliquid quo vitae eligendi doloribus adipisci!
							</p>
							<p class="h-post__subtitle">
								Заголовок
							</p>
							<p class="h-post__p">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam assumenda est quibusdam nobis, cumque tempora maxime, blanditiis quis iste similique, perspiciatis id asperiores eius aliquid quo vitae eligendi doloribus adipisci!
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Пятая страница - Усложнения -->
		<div class="container">
			<div class="handbook__layout">
				<div class="handbook__sidebar">
					<div class="h-sidebar">
						<p class="h-sidebar__title">
							Энциклопедия
						</p>
						<div class="h-sidebar__content">
							<a href="#" class="h-sidebar__link">
								Анатомия часов
							</a>
							<a href="#" class="h-sidebar__link">
								Материалы
							</a>
							<a href="#" class="h-sidebar__link">
								Механизмы
							</a>
							<a href="#" class="h-sidebar__link h-sidebar__link--active">
								Усложнения
							</a>
							<a href="#" class="h-sidebar__link">
								Водонепроницаемость
							</a>
							<a href="#" class="h-sidebar__link">
								Уход за часами
							</a>
							<a href="#" class="h-sidebar__link">
								Как выбирать часы
							</a>
							<a href="#" class="h-sidebar__link">
								Глоссарий
							</a>
						</div>
					</div>
				</div>
				<div class="handbook__content">
					<h2 class="handbook__title">
						Усложнения
					</h2>
					<div class="handbook__types h-types">
						<div class="h-types__content">
							<article class="h-types__article">
								<div class="h-types__thumb">
									<img src="img/option-1.png" alt="">
								</div>
								<p class="h-types__title">
									Дата
								</p>
								<p class="h-types__discript">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis consectetur, quidem eos itaque distinctio ex!
								</p>
							</article>
							<article class="h-types__article">
								<div class="h-types__thumb">
									<img src="img/option-2.png" alt="">
								</div>
								<p class="h-types__title">
									Календарь
								</p>
								<p class="h-types__discript">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis consectetur, quidem eos itaque distinctio ex!
								</p>
							</article>
							<article class="h-types__article">
								<div class="h-types__thumb">
									<img src="img/option-3.png" alt="">
								</div>
								<p class="h-types__title">
									Хронограф
								</p>
								<p class="h-types__discript">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis consectetur, quidem eos itaque distinctio ex!
								</p>
							</article>
							<article class="h-types__article">
								<div class="h-types__thumb">
									<img src="img/option-4.png" alt="">
								</div>
								<p class="h-types__title">
									Тахиметрическая шкала
								</p>
								<p class="h-types__discript">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis consectetur, quidem eos itaque distinctio ex!
								</p>
							</article>
							<article class="h-types__article">
								<div class="h-types__thumb">
									<img src="img/option-5.png" alt="">
								</div>
								<p class="h-types__title">
									Секундомер
								</p>
								<p class="h-types__discript">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis consectetur, quidem eos itaque distinctio ex!
								</p>
							</article>
							<article class="h-types__article">
								<div class="h-types__thumb">
									<img src="img/option-6.png" alt="">
								</div>
								<p class="h-types__title">
									Фазы луны
								</p>
								<p class="h-types__discript">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis consectetur, quidem eos itaque distinctio ex!
								</p>
							</article>
							<article class="h-types__article">
								<div class="h-types__thumb">
									<img src="img/option-7.png" alt="">
								</div>
								<p class="h-types__title">
									Остаток заряда
								</p>
								<p class="h-types__discript">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis consectetur, quidem eos itaque distinctio ex!
								</p>
							</article>
							<article class="h-types__article">
								<div class="h-types__thumb">
									<img src="img/option-8.png" alt="">
								</div>
								<p class="h-types__title">
									Часовые пояса
								</p>
								<p class="h-types__discript">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis consectetur, quidem eos itaque distinctio ex!
								</p>
							</article>
							<article class="h-types__article">
								<div class="h-types__thumb">
									<img src="img/option-9.png" alt="">
								</div>
								<p class="h-types__title">
									Будильник
								</p>
								<p class="h-types__discript">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis consectetur, quidem eos itaque distinctio ex!
								</p>
							</article>
							<article class="h-types__article">
								<div class="h-types__thumb">
									<img src="img/option-10.png" alt="">
								</div>
								<p class="h-types__title">
									GPS
								</p>
								<p class="h-types__discript">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis consectetur, quidem eos itaque distinctio ex!
								</p>
							</article>
							<article class="h-types__article">
								<div class="h-types__thumb">
									<img src="img/option-11.png" alt="">
								</div>
								<p class="h-types__title">
									Подсветка
								</p>
								<p class="h-types__discript">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis consectetur, quidem eos itaque distinctio ex!
								</p>
							</article>
							<div class="h-types__article--clear"></div>
						</div>
					</div>
					<div class="handbook__types h-types">
						<p class="h-types__h1">
							Виды наполнения
						</p>
						<div class="h-types__content">
							<article class="h-types__article">
								<div class="h-types__thumb h-types__thumb--small">
									<img src="img/circle-1.png" alt="">
								</div>
								<p class="h-types__title">
									Дата
								</p>
								<p class="h-types__discript">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis consectetur, quidem eos itaque distinctio ex!
								</p>
							</article>
							<article class="h-types__article">
								<div class="h-types__thumb h-types__thumb--small">
									<img src="img/circle-2.png" alt="">
								</div>
								<p class="h-types__title">
									Календарь
								</p>
								<p class="h-types__discript">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis consectetur, quidem eos itaque distinctio ex!
								</p>
							</article>
							<article class="h-types__article">
								<div class="h-types__thumb h-types__thumb--small">
									<img src="img/circle-3.png" alt="">
								</div>
								<p class="h-types__title">
									Хронограф
								</p>
								<p class="h-types__discript">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis consectetur, quidem eos itaque distinctio ex!
								</p>
							</article>
							<div class="h-types__article--clear"></div>
						</div>
					</div>
					<div class="handbook__types h-types">
						<p class="h-types__h1">
							Виды наполнения
						</p>
						<div class="h-types__content">
							<article class="h-types__news f-news">
								<div class="f-news__thumb">
									<img src="img/circle-1.png" alt="">
								</div>
								<div class="f-news__content">
									<p class="f-news__title">
										Название
									</p>
									<p class="f-news__discript">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis consectetur, quidem eos itaque distinctio ex!
									</p>
								</div>
							</article>
							<article class="h-types__news f-news">
								<div class="f-news__thumb">
									<img src="img/circle-1.png" alt="">
								</div>
								<div class="f-news__content">
									<p class="f-news__title">
										Название
									</p>
									<p class="f-news__discript">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis consectetur, quidem eos itaque distinctio ex!
									</p>
								</div>
							</article>
							<article class="h-types__news f-news">
								<div class="f-news__thumb">
									<img src="img/circle-1.png" alt="">
								</div>
								<div class="f-news__content">
									<p class="f-news__title">
										Название
									</p>
									<p class="f-news__discript">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis consectetur, quidem eos itaque distinctio ex!
									</p>
								</div>
							</article>
							<article class="h-types__news f-news">
								<div class="f-news__thumb">
									<img src="img/circle-1.png" alt="">
								</div>
								<div class="f-news__content">
									<p class="f-news__title">
										Название
									</p>
									<p class="f-news__discript">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis consectetur, quidem eos itaque distinctio ex!
									</p>
								</div>
							</article>
							<article class="h-types__news f-news">
								<div class="f-news__thumb">
									<img src="img/circle-1.png" alt="">
								</div>
								<div class="f-news__content">
									<p class="f-news__title">
										Название
									</p>
									<p class="f-news__discript">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis consectetur, quidem eos itaque distinctio ex!
									</p>
								</div>
							</article>
							<article class="h-types__news f-news">
								<div class="f-news__thumb">
									<img src="img/circle-1.png" alt="">
								</div>
								<div class="f-news__content">
									<p class="f-news__title">
										Название
									</p>
									<p class="f-news__discript">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis consectetur, quidem eos itaque distinctio ex!
									</p>
								</div>
							</article>
							<article class="h-types__news f-news">
								<div class="f-news__thumb">
									<img src="img/circle-1.png" alt="">
								</div>
								<div class="f-news__content">
									<p class="f-news__title">
										Название
									</p>
									<p class="f-news__discript">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis consectetur, quidem eos itaque distinctio ex!
									</p>
								</div>
							</article>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Шестая страница - Водонепроницаемость -->
		<div class="container">
			<div class="handbook__layout">
				<div class="handbook__sidebar">
					<div class="h-sidebar">
						<p class="h-sidebar__title">
							Энциклопедия
						</p>
						<div class="h-sidebar__content">
							<a href="#" class="h-sidebar__link">
								Анатомия часов
							</a>
							<a href="#" class="h-sidebar__link">
								Материалы
							</a>
							<a href="#" class="h-sidebar__link">
								Механизмы
							</a>
							<a href="#" class="h-sidebar__link">
								Усложнения
							</a>
							<a href="#" class="h-sidebar__link h-sidebar__link--active">
								Водонепроницаемость
							</a>
							<a href="#" class="h-sidebar__link">
								Уход за часами
							</a>
							<a href="#" class="h-sidebar__link">
								Как выбирать часы
							</a>
							<a href="#" class="h-sidebar__link">
								Глоссарий
							</a>
						</div>
					</div>
				</div>
				<div class="handbook__content">
					<h2 class="handbook__title">
						Водонепроницаемость
					</h2>
					<div class="handbook__post h-post">
						<p class="h-post__title">
							Отличия водонепроницаемости и водозащиты
						</p>
						<div class="h-post__ill">
							<img src="img/warer-1.jpg" alt="">
						</div>
						<div class="h-post__column h-post__column--50">
							<p class="h-post__subtitle">
								Водонепроницаемость
							</p>
							<p class="h-post__p">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe veritatis error quae aspernatur quisquam, ad. Possimus, molestiae totam animi. Quaerat illum vel omnis praesentium nulla corporis, nemo alias quod eum!
							</p>
						</div>
						<div class="h-post__column h-post__column--50">
							<p class="h-post__subtitle">
								Водозащита
							</p>
							<p class="h-post__p">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe veritatis error quae aspernatur quisquam, ad. Possimus, molestiae totam animi. Quaerat illum vel omnis praesentium nulla corporis, nemo alias quod eum!
							</p>
						</div>
						<p class="h-post__subtitle">
							Заголовок
						</p>
						<div class="h-post__ill">
							<img src="img/warer-2.jpg" alt="">
						</div>
						<p class="h-post__p">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe veritatis error quae aspernatur quisquam, ad. Possimus, molestiae totam animi. Quaerat illum vel omnis praesentium nulla corporis, nemo alias quod eum!
						</p>
						<div class="h-post__column h-post__column--25">
							<p class="h-post__subtitle">
								Заголовок
							</p>
							<p class="h-post__p">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe veritatis error quae aspernatur quisquam, ad. Possimus, molestiae totam animi. Quaerat illum vel omnis praesentium nulla corporis, nemo alias quod eum!
							</p>
						</div>
						<div class="h-post__column h-post__column--25">
							<p class="h-post__subtitle">
								Заголовок
							</p>
							<p class="h-post__p">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe veritatis error quae aspernatur quisquam, ad. Possimus, molestiae totam animi. Quaerat illum vel omnis praesentium nulla corporis, nemo alias quod eum!
							</p>
						</div>
						<div class="h-post__column h-post__column--25">
							<p class="h-post__subtitle">
								Заголовок
							</p>
							<p class="h-post__p">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe veritatis error quae aspernatur quisquam, ad. Possimus, molestiae totam animi. Quaerat illum vel omnis praesentium nulla corporis, nemo alias quod eum!
							</p>
						</div>
						<div class="h-post__column h-post__column--25">
							<p class="h-post__subtitle">
								Заголовок
							</p>
							<p class="h-post__p">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe veritatis error quae aspernatur quisquam, ad. Possimus, molestiae totam animi. Quaerat illum vel omnis praesentium nulla corporis, nemo alias quod eum!
							</p>
						</div>
						<p class="h-post__subtitle">
							Как безопасно принимать душ в часах
						</p>
						<div class="h-post__ill">
							<img src="img/warer-3.jpg" alt="">
						</div>
						<p class="h-post__p">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe veritatis error quae aspernatur quisquam, ad. Possimus, molestiae totam animi. Quaerat illum vel omnis praesentium nulla corporis, nemo alias quod eum!
						</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Седьмая страница - Уход за часами -->
		<div class="container">
			<div class="handbook__layout">
				<div class="handbook__sidebar">
					<div class="h-sidebar">
						<p class="h-sidebar__title">
							Энциклопедия
						</p>
						<div class="h-sidebar__content">
							<a href="#" class="h-sidebar__link">
								Анатомия часов
							</a>
							<a href="#" class="h-sidebar__link">
								Материалы
							</a>
							<a href="#" class="h-sidebar__link">
								Механизмы
							</a>
							<a href="#" class="h-sidebar__link">
								Усложнения
							</a>
							<a href="#" class="h-sidebar__link">
								Водонепроницаемость
							</a>
							<a href="#" class="h-sidebar__link h-sidebar__link--active">
								Уход за часами
							</a>
							<a href="#" class="h-sidebar__link">
								Как выбирать часы
							</a>
							<a href="#" class="h-sidebar__link">
								Глоссарий
							</a>
						</div>
					</div>
				</div>
				<div class="handbook__content">
					<h2 class="handbook__title">
						Уход за часами
					</h2>
					<div class="handbook__post h-post">
						<p class="h-post__title">
							Чистка часов
						</p>
						<div class="h-post__ill">
							<img src="img/service-1.jpg" alt="">
						</div>
						<p class="h-post__p">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe veritatis error quae aspernatur quisquam, ad. Possimus, molestiae totam animi. Quaerat illum vel omnis praesentium nulla corporis, nemo alias quod eum!
						</p>
						<p class="h-post__subtitle">
							Техосмотр
						</p>
						<div class="h-post__ill">
							<img src="img/service-2.jpg" alt="">
						</div>
						<p class="h-post__p">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe veritatis error quae aspernatur quisquam, ad. Possimus, molestiae totam animi. Quaerat illum vel omnis praesentium nulla corporis, nemo alias quod eum!
						</p>
						<p class="h-post__subtitle">
							Настройка
						</p>
						<div class="h-post__ill">
							<img src="img/service-3.jpg" alt="">
						</div>
						<p class="h-post__p">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe veritatis error quae aspernatur quisquam, ad. Possimus, molestiae totam animi. Quaerat illum vel omnis praesentium nulla corporis, nemo alias quod eum!
						</p>
						<p class="h-post__subtitle">
							Чего избегать
						</p>
						<p class="h-post__p">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe veritatis error quae aspernatur quisquam, ad. Possimus, molestiae totam animi. Quaerat illum vel omnis praesentium nulla corporis, nemo alias quod eum!
						</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Восьмая страница - Уход за часами -->
		<div class="container">
			<div class="handbook__layout">
				<div class="handbook__sidebar">
					<div class="h-sidebar">
						<p class="h-sidebar__title">
							Энциклопедия
						</p>
						<div class="h-sidebar__content">
							<a href="#" class="h-sidebar__link">
								Анатомия часов
							</a>
							<a href="#" class="h-sidebar__link">
								Материалы
							</a>
							<a href="#" class="h-sidebar__link">
								Механизмы
							</a>
							<a href="#" class="h-sidebar__link">
								Усложнения
							</a>
							<a href="#" class="h-sidebar__link">
								Водонепроницаемость
							</a>
							<a href="#" class="h-sidebar__link">
								Уход за часами
							</a>
							<a href="#" class="h-sidebar__link h-sidebar__link--active">
								Как выбирать часы
							</a>
							<a href="#" class="h-sidebar__link">
								Глоссарий
							</a>
						</div>
					</div>
				</div>
				<div class="handbook__content">
					<h2 class="handbook__title">
						Как выбирать часы
					</h2>
					<div class="handbook__post h-post">
						<p class="h-post__title">
							Бренд
						</p>
						<div class="h-post__ill">
							<img src="img/variants-1.jpg" alt="">
						</div>
						<p class="h-post__p">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe veritatis error quae aspernatur quisquam, ad. Possimus, molestiae totam animi. Quaerat illum vel omnis praesentium nulla corporis, nemo alias quod eum!
						</p>
						<p class="h-post__subtitle">
							Стиль корпуса
						</p>
						<div class="h-post__ill">
							<img src="img/variants-2.jpg" alt="">
						</div>
						<p class="h-post__p">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe veritatis error quae aspernatur quisquam, ad. Possimus, molestiae totam animi. Quaerat illum vel omnis praesentium nulla corporis, nemo alias quod eum!
						</p>
						<p class="h-post__subtitle">
							Усложнения
						</p>
						<div class="h-post__ill">
							<img src="img/variants-3.jpg" alt="">
						</div>
						<p class="h-post__p">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe veritatis error quae aspernatur quisquam, ad. Possimus, molestiae totam animi. Quaerat illum vel omnis praesentium nulla corporis, nemo alias quod eum!
						</p>
						<p class="h-post__subtitle">
							Механизм
						</p>
						<div class="h-post__ill">
							<img src="img/variants-4.jpg" alt="">
						</div>
						<p class="h-post__p">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe veritatis error quae aspernatur quisquam, ad. Possimus, molestiae totam animi. Quaerat illum vel omnis praesentium nulla corporis, nemo alias quod eum!
						</p>
					</div>
				</div>
			</div>
		</div>

		<!-- Девятая страница - Глоссарий -->
		<div class="container">
			<div class="handbook__layout">
				<div class="handbook__sidebar">
					<div class="h-sidebar">
						<p class="h-sidebar__title">
							Энциклопедия
						</p>
						<div class="h-sidebar__content">
							<a href="#" class="h-sidebar__link">
								Анатомия часов
							</a>
							<a href="#" class="h-sidebar__link">
								Материалы
							</a>
							<a href="#" class="h-sidebar__link">
								Механизмы
							</a>
							<a href="#" class="h-sidebar__link">
								Усложнения
							</a>
							<a href="#" class="h-sidebar__link">
								Водонепроницаемость
							</a>
							<a href="#" class="h-sidebar__link">
								Уход за часами
							</a>
							<a href="#" class="h-sidebar__link">
								Как выбирать часы
							</a>
							<a href="#" class="h-sidebar__link h-sidebar__link--active">
								Глоссарий
							</a>
						</div>
					</div>
				</div>
				<div class="handbook__content">
					<h2 class="handbook__title">
						Глоссарий
					</h2>
					<div class="handbook__symbol-nav">
						<a href="">А</a>
						<a href="">Б</a>
						<a href="">В</a>
						<a href="">Г</a>
						<a href="">Д</a>
						<a href="">Е</a>
						<a href="">Ё</a>
						<a href="">Ж</a>
						<a href="">З</a>
						<a href="">И</a>
						<a href="">К</a>
						<a href="">Л</a>
						<a href="">М</a>
						<a href="">Н</a>
						<a href="">О</a>
						<a href="">П</a>
						<a href="">Р</a>
						<a href="">С</a>
						<a href="">Т</a>
						<a href="">У</a>
						<a href="">Ф</a>
						<a href="">Х</a>
						<a href="">Ц</a>
						<a href="">Ч</a>
						<a href="">Ш</a>
						<a href="">Щ</a>
						<a href="">Э</a>
						<a href="">Ю</a>
						<a href="">Я</a>
					</div>
					<div class="handbook__post h-post">
						<div class="h-post__block">
							<p class="h-post__title">
								А
							</p>
							<p class="h-post__subtitle">
								А - заголовок
							</p>
							<p class="h-post__p">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe veritatis error quae aspernatur quisquam, ad. Possimus, molestiae totam animi. Quaerat illum vel omnis praesentium nulla corporis, nemo alias quod eum!
							</p>
							<p class="h-post__subtitle">
								А - заголовок
							</p>
							<p class="h-post__p">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe veritatis error quae aspernatur quisquam, ad. Possimus, molestiae totam animi. Quaerat illum vel omnis praesentium nulla corporis, nemo alias quod eum!
							</p>
							<p class="h-post__subtitle">
								А - заголовок
							</p>
							<p class="h-post__p">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe veritatis error quae aspernatur quisquam, ad. Possimus, molestiae totam animi. Quaerat illum vel omnis praesentium nulla corporis, nemo alias quod eum!
							</p>
							<p class="h-post__subtitle">
								А - заголовок
							</p>
							<p class="h-post__p">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe veritatis error quae aspernatur quisquam, ad. Possimus, molestiae totam animi. Quaerat illum vel omnis praesentium nulla corporis, nemo alias quod eum!
							</p>
						</div>
						<div class="h-post__block">
							<p class="h-post__title">
								Б
							</p>
							<p class="h-post__subtitle">
								Б - заголовок
							</p>
							<p class="h-post__p">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe veritatis error quae aspernatur quisquam, ad. Possimus, molestiae totam animi. Quaerat illum vel omnis praesentium nulla corporis, nemo alias quod eum!
							</p>
							<p class="h-post__subtitle">
								Б - заголовок
							</p>
							<p class="h-post__p">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe veritatis error quae aspernatur quisquam, ad. Possimus, molestiae totam animi. Quaerat illum vel omnis praesentium nulla corporis, nemo alias quod eum!
							</p>
							<p class="h-post__subtitle">
								Б - заголовок
							</p>
							<p class="h-post__p">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe veritatis error quae aspernatur quisquam, ad. Possimus, molestiae totam animi. Quaerat illum vel omnis praesentium nulla corporis, nemo alias quod eum!
							</p>
							<p class="h-post__subtitle">
								Б - заголовок
							</p>
							<p class="h-post__p">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe veritatis error quae aspernatur quisquam, ad. Possimus, molestiae totam animi. Quaerat illum vel omnis praesentium nulla corporis, nemo alias quod eum!
							</p>
						</div>
						<div class="h-nav">
							<a href="#" class="h-nav__prev h-nav__prev--disabled">
								<svg viewBox="0 0 8 15" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M0.123385 7.79903L7.26764 14.875C7.43585 15.0417 7.70563 15.0417 7.87384 14.875C8.04205 14.7084 8.04205 14.4412 7.87384 14.2746L1.03427 7.50039L7.87384 0.726149C8.04205 0.559543 8.04205 0.292346 7.87384 0.12574C7.79132 0.0440092 7.68024 0 7.57233 0C7.46442 0 7.35334 0.0408659 7.27082 0.12574L0.126559 7.20176C-0.0416536 7.36522 -0.0416536 7.63556 0.123385 7.79903Z"/>
								</svg>
							</a>
							<a href="" class="h-nav__link">
								1
							</a>
							<a href="" class="h-nav__link">
								2
							</a>
							<a href="" class="h-nav__link">
								3
							</a>
							<a href="" class="h-nav__link">
								4
							</a>
							<a href="" class="h-nav__link h-nav__link--active">
								5
							</a>
							<span class="h-nav__link h-nav__link--dots">
								...
							</span>
							<a href="" class="h-nav__link">
								12
							</a>
							<a href="#" class="h-nav__next">
								<svg viewBox="0 0 8 15" xmlns="http://www.w3.org/2000/svg">
									<path d="M7.87662 7.20097L0.732358 0.124954C0.564146 -0.0416514 0.294371 -0.0416514 0.126159 0.124954C-0.042053 0.29156 -0.042053 0.558757 0.126159 0.725363L6.96573 7.49961L0.126159 14.2739C-0.042053 14.4405 -0.042053 14.7077 0.126159 14.8743C0.208678 14.956 0.319762 15 0.427672 15C0.535581 15 0.646665 14.9591 0.729184 14.8743L7.87344 7.79824C8.04165 7.63478 8.04165 7.36444 7.87662 7.20097Z"/>
								</svg>

							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</section>
//= includes/scripts.html
</body>
</html>